<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Searching Book</title>
    <style>
        body{border-style:solid;
            border-color:black;
            margin-right:25%;
            margin-left:26%;
            margin-top:5%;
             background-color:#FFF8DC;
        }
    </style>
</head>
<body>
<center>

     <form method="post" action="search_book">
         {% csrf_token %}
        <h1 style="color:green"> Search Book</h1>
        Enter Book Name <br>
        <input type="text" name="book_name"><br><br>

         <button type="submit" name="search"  value="SEARCH BOOK" class="btn btn-success btn-lg">Search</button><br><br>
    </form>
 {% for objects in res %}
        <h4>
            Book Name: {{objects.book_name}}<br>
            By       :  {{objects.book_author}}<br>
            Type     :  {{objects.book_type}}<br>
            Price    : {{objects.book_price}}<br>
        </h4>
        {% endfor %}
</center>
</body>
</html>